<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.wix.DetoxLaunchAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.wix.DetoxMachService</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Users/lnatan/Library/Developer/Xcode/DerivedData/Detox-alqhexbauzptqbciyrybamsuqlpy/Build/Products/Debug/DetoxLaunchAgent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/lnatan/Library/Developer/Xcode/DerivedData/Detox-alqhexbauzptqbciyrybamsuqlpy/Build/Products/Debug/DetoxLaunchAgent</string>
	</array>
</dict>
</plist>
